
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="table-responsive">
    <table class="table-bordered table-hover">
        <thead>
        <th>ID</th>
        <th>Materia</th>
        <th>Codigo</th>
        <th>Curso</th>
        <th>Tipo</th>
        <th>Titulacion</th>
        <th>Creditos Teoricos</th>
        <th>Creditos Laboratorio</th>
        <th>Duracion</th>
        <th>Limite Admision</th>
        <th>Grupos Teoria</th>
        <th>Grupos Laboratorio</th>
        </thead>
        <tbody>
            @{
                foreach (System.Data.DataRow dr in ViewBag.emp.Rows)
                {
                    <tr>@dr["id_materia"]</tr>
                    <tr>@dr["nmateria"]</tr>
                    <tr>@dr["codigo_materia"]</tr>
                    <tr>@dr["curso"]</tr>
                    <tr>@dr["id_tipo_materia"]</tr>
                    <tr>@dr["id_titulacion"]</tr>
                    <tr>@dr["creditos_teoricos"]</tr>
                    <tr>@dr["creditos_laboratorio"]</tr>
                    <tr>@dr["duracion"]</tr>
                    <tr>@dr["limiteAdmision"]</tr>
                    <tr>@dr["gruposTeoria"]</tr>
                    <tr>@dr["gruposLaboratorio"]</tr>
                }
            }

        </tbody>
    </table>

</div>

