
@{
    ViewBag.Title = "actualizarMateria";
}

<h2>Actualizar Materia</h2>

<div>
    @{
        foreach (System.Data.DataRow dr in ViewBag.emp.Rows)
        {
            <form method="post">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Materia</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["nmateria"]" name="materia" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Codigo</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["codigo_materia"]" name="codigo" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Curso</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["curso"]" name="curso" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">ID-Tipo</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["id_tipo_materia"]" name="tipo" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">ID-titulacion</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["id_titulacion"]" name="titulacion" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Creditos Teoricos</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["creditos_teoricos"]" name="credT" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Creditos Laboratorio</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["creditos_laboratorio"]" name="credL" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Duracion</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["duracion"]" name="duracion" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Limite Admision</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["limiteAdmision"]" name="limite" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Grupos Teoria</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["gruposTeoria"]" name="grupoT" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Grupos Laboratorio</label>
                    <div class="col-sm-9">
                        <input type="text" value="@dr["gruposLaboratorio"]" name="grupoL" class="col-xs-10 col-sm-8" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        }
    }

</div>
@{
    if (TempData["mensaje"] != null)
    {
        <script>alert('@TempData["mensaje"]')</script> 
    }
}
